.App {
  text-align: center;
  flex: 1 1 auto;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-body {
  background-color: var(--color2);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 1 0 auto;
  z-index: 102;
  align-items: flex-start;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* Drawer ================================ */
.Drawer {
  width: var(--drawerWidth);
  flex: 0 0 auto;
  background-color: var(--color1);
  user-select: none
}

.top-spacer {
  height: 47px;
}

.drawerItemWrapper {
  display: flex;
  margin: 0 0px 10px 0px;
  padding: 5px 5px;
  color: #99A1A5;
  z-index: 102;
  position: relative;
}

.drawerItemWrapper:hover {
  background-color: rgba(23, 203, 253, 0.459);
  color: #3b3b3b;
  border-radius: 5px;
}

.drawerItemWrapperSelected {
  display: flex;
  margin: 0 0px 10px 0px;
  padding: 5px 5px;
  background-color: #ACF7FF;
  color: #008DF8;
  box-shadow: 0px 1px 3px 0px #0603d14d;
  z-index: 102;
  position: relative;
  border-radius: 0px 5px 5px 0px;
  height: 30px;
  width: 229px;
}

.drawerIcon {
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  /* grey */
  filter: invert(71%) sepia(8%) saturate(246%) hue-rotate(156deg) brightness(88%) contrast(91%);
  margin: 0 10px 0 0;
  height: 30px;
  width: 36px;
}

.drawerIconSelected {
  filter: invert(39%) sepia(87%) saturate(2486%) hue-rotate(185deg) brightness(98%) contrast(103%);
  margin: 0 10px 0 0;
  width: 36px;
}

img {
  -webkit-user-drag: none;
}

.drawerItemText {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ======================================== */
/* List Items ================================ */
.list-wrapper
{

height: 100%;
width: 82%;
padding: 0px 0px 0px 37px;
}
.list-item
{
  height: 70px;
  /* background-color: #011627; */
  display: flex;
  align-items: center;
}
.list-icon
{
 height: 50px;
 margin: 0px 10px 0px 0px;
}
.list-name
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #61DAFB;
  font-size: 14px;
}
.list-divider
{
height: 1px;
width: 100%;
background-color: #4c4c4c;


}
/* ======================================== */


/* Drawer Shapes ================================ */
.DrawerTopShape {
  position: fixed;
  height: 361px;
  top: -182px;
  left: -9px;
  z-index: 100;
  pointer-events: none
}

.drawer-bottom-shape {
  height: 361px;
  position: fixed;
  left: -254px;
  bottom: -288px;
  transform: rotate(257deg);
}

/* ======================================== */

/* App  ================================ */
/* ======================================== */