.drag {
    -webkit-app-region: drag;
    z-index: 100;
}

.TitleBar {
    margin: 0;
    padding: 0;
    height: 30px;
    flex: 0 1 25px;
    background-color: var(--color2);
    display: flex;    
}


#BarP1 {
    width: var(--drawerWidth);
    background-color: var(--color1);
    /* box-shadow: 0px -20px 40000px; */
}

#BarP2 {
    flex: 1 0 auto;
    background-color: var(--color2);
    flex: auto;
    z-index: 101;
}

/* Title bar Buttons */
.titleBarButton
{
    width: 46px;
    padding: 8px 0px 8px 0px;
    display: flex;
}
#BarMin {
   
}
#BarMin:hover, #BarMax:hover
{
    background-color: #00000073;
}
#BarExit:hover
{
    background-color: #ff0d0dfa;
}
#BarExit:hover img
{
    filter: invert(87%) sepia(75%) saturate(1%) hue-rotate(2deg) brightness(112%) contrast(101%);
}

#BarMax {
    
}

#BarExit {
    
}
.titleBarButton .Icon
{
    /* padding: 4px 0px 4px 0px; */
    height: 100%;
    /* justify-content: center; */
    flex: auto;
    
}
.filter-blue{
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    /* filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); */
    filter: invert(77%) sepia(11%) saturate(1892%) hue-rotate(154deg) brightness(96%) contrast(105%);
}

span {
    margin: 0px 0px 0px 8px;
    color: #75c7c7;
}